<footer class="app-footer">
    <div class="float-end d-none d-sm-inline">Půjčovadlo.cz</div>
    <strong>
        Copyright &copy; 2024&nbsp;
        <a href="#!" class="text-decoration-none">Bc. Jaroslav Fikar</a>.
    </strong>
    Všechna práva vyhrazena.
</footer>